/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/

/*----- Bebas -----*/

@font-face {
    font-family:'Bebas-Regular';
    src: url('../fonts/Bebas_gdi.eot');
    src: url('../fonts/Bebas_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bebas_gdi.woff') format('woff'),
    url('../fonts/Bebas_gdi.ttf') format('truetype'),
    url('../fonts/Bebas_gdi.svg#Bebas-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-bold-webfont.woff') format('woff'),
  url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
  url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----- Roboto -----*/

@font-face {
  font-family:'Roboto-Medium';
  src: url('../fonts/Roboto-Medium_gdi.eot');
  src: url('../fonts/Roboto-Medium_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium_gdi.woff') format('woff'),
  url('../fonts/Roboto-Medium_gdi.ttf') format('truetype'),
  url('../fonts/Roboto-Medium_gdi.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

/*----- Signika -----*/

@font-face {
  font-family:'Signika-Light';
  src: url('../fonts/Signika-Light_gdi.eot');
  src: url('../fonts/Signika-Light_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Signika-Light_gdi.woff') format('woff'),
  url('../fonts/Signika-Light_gdi.ttf') format('truetype'),
  url('../fonts/Signika-Light_gdi.svg#Signika-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Signika-Regular';
  src: url('../fonts/Signika-Regular_gdi.eot');
  src: url('../fonts/Signika-Regular_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Signika-Regular_gdi.woff') format('woff'),
  url('../fonts/Signika-Regular_gdi.ttf') format('truetype'),
  url('../fonts/Signika-Regular_gdi.svg#Signika-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: 'SourceSansPro ExtraLight';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-ExtraLight.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-ExtraLight.otf') format('opentype'),
  url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Light';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-Light.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Light.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Light.otf') format('opentype'),
  url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Regular';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Regular.otf') format('opentype'),
  url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Italic';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-It.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-It.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-It.otf') format('opentype'),
  url('../fonts/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Semibold';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-Semibold.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Semibold.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Semibold.otf') format('opentype'),
  url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro SemiboldItalic';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-SemiboldIt.otf') format('opentype'),
  url('../fonts/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Bold';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-Bold.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Bold.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Bold.otf') format('opentype'),
  url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro BoldItalic';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-BoldIt.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-BoldIt.otf') format('opentype'),
  url('../fonts/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro Black';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-Black.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Black.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Black.otf') format('opentype'),
  url('../fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'SourceSansPro BlackIt';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
  url('../fonts/SourceSansPro-BlackIt.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-BlackIt.otf') format('opentype'),
  url('../fonts/SourceSansPro-BlackIt.ttf') format('truetype');
}

