/*------------------------------------*\
    $SPRITE
\*------------------------------------*/

$sprite : url('../img/sprite/spritesheet.png');
$sprite-services : url('../img/sprite/spritesheet2.png');

/*.sprite-erase {
    width: 87px;
    height: 28px;
    background-position: -20px -20px;
}

.sprite-iphone_small {
    width: 56px;
    height: 116px;
    background-position: -20px -88px;
}

.sprite-social-be {
    width: 50px;
    height: 50px;
    background-position: -20px -244px;
}

.sprite-social-fb {
    width: 50px;
    height: 50px;
    background-position: -20px -334px;
}

.sprite-social-fb-small {
    width: 32px;
    height: 32px;
    background-position: -20px -424px;
}

.sprite-social-fl {
    width: 50px;
    height: 50px;
    background-position: -20px -496px;
}

.sprite-social-pn {
    width: 50px;
    height: 50px;
    background-position: -20px -586px;
}

.sprite-social-pn-small {
    width: 32px;
    height: 32px;
    background-position: -20px -676px;
}

.sprite-social-sk {
    width: 50px;
    height: 50px;
    background-position: -20px -748px;
}

.sprite-social-tw {
    width: 50px;
    height: 50px;
    background-position: -20px -838px;
}

.sprite-social-tw-small {
    width: 32px;
    height: 32px;
    background-position: -20px -928px;
}

.sprite-social-yt {
    width: 50px;
    height: 50px;
    background-position: -20px -1000px;
}

.sprite-1 {
    width: 27px;
    height: 27px;
    background-position: -50px -50px;
}

.sprite-2 {
    width: 27px;
    height: 21px;
    background-position: -50px -177px;
}

.sprite-3 {
    width: 27px;
    height: 27px;
    background-position: -50px -298px;
}

.sprite-4 {
    width: 24px;
    height: 28px;
    background-position: -50px -425px;
}

.sprite-5 {
    width: 27px;
    height: 27px;
    background-position: -50px -553px;
}

.sprite-6 {
    width: 27px;
    height: 27px;
    background-position: -50px -680px;
}*/
